@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url(../fonts/robotoslab/RobotoSlab-Regular.ttf); }

  @font-face {
  font-family: 'RobotoSlab-Regular';
  src: url(../fonts/robotoslab/RobotoSlab-Regular.ttf); }
  @font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans.ttf); }

body {
  margin: 0;
  padding:0;
  position: relative;
   }

/*CLEARFIX*/
:focus {
  outline: 0; }

:active {
  outline: none; }

body {
  line-height: 1;
  color: black;
  background: white; }

table {
  position: relative;
  right: 8px;
  border-collapse: separate;
  border-spacing: 0;
  /* right: 50px; */ }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  overflow: visible;
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }




.header {
	width: 100%;
	height: 143px;
	background: rgba(51,109,131,0.75);
	position: relative;
	z-index: 2;
}

.header-container {
	width: 1000px;
	height: 143px;
	margin: 0 auto;
}

.logo {
	float: left;
	margin:6px 0 0 40px;
	width:15%;
}

h1 {
	font-family: 'RobotoSlab-Regular', sans-serif, Arial;
	font-size: 30px;
	margin: 0;
	float: left;
	text-transform: uppercase;
	color: rgb(255,255,255);
	margin-top:32px;
}



.search_block {
	width: 220px;
	height: 40px;
	float: left;
	    margin: 41px 0 0 200px;
}

.search_block input[type="submit"]{
	background: url(../img/search-icon.png) center;
	border:none;
	height: 26px;
	width: 26px;
	float: right;
	position:relative;
	bottom: 31px;
	right: 5px;
}
.search {
	width: 100%;
	height: 40px;
	float: left;
	padding: 0 0 0 20px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif, Arial;
	border-style: none;
	outline: none;
}

.nav {
	width: 100%;
	height: 40px;
	background: rgb(104,7,27);
	margin: 0 auto;
	position: relative;
	z-index: 2;
}


.nav-container>.menu {
	margin: 0 auto;
	text-align: center;
	padding:0;

}

.nav-container>.menu>li {
	display: inline-block;
	padding:10px 0 9px 0;
	margin:0;
	line-height: 22px;
	position: relative;
}

.nav-container>.menu>li>a,.nav-container>.menu>li>span  {
	text-decoration: none;
	color: rgb(255,255,255);
	font-family: 'RobotoSlab-Regular', serif, Arial;
	font-size: 16px;
	text-align: center;
	padding:10px 35px 8px 35px;
	transition:.3s all;
}

.nav-container>.menu>li>a:hover,.nav-container>.menu>li>span:hover {
	color: rgb(255,218,68);
	background: rgb(42,42,42);
}

.nav-container>.menu>li>ul{

	position: absolute;
	left: -40px;
	margin-top: -1140px;
	transition:0.3s all;
}
.nav-container>.menu>li:hover>ul{
	margin-top: 5px;
}
.nav-container>.menu>li>ul>li{
	display: block;
	text-align: center;
}
.nav-container>.menu>li>ul>li>a,.nav-container>.menu>li>ul>li>span{
	font-size: 14px;
	display: inline-block;
	height: auto;
	margin: 0;
	padding: 0;
	padding: 5px 2px;
	width: 175px;
	background: rgb(42,42,42);
	color: white;
	text-decoration: none;
	font-family: 'RobotoSlab-Regular', serif;
}
.nav-container>.menu>li>ul>li>a:hover,.nav-container>.menu>li>ul>li>span:hover{
    background: rgb(104,7,27);
}


.container {
	width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	top: 0;
	background: rgb(240,240,240);
}

.wrapper {
	width: 1000px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}



.left-column {
	width: 705px;
	height: auto;
	overflow: hidden;
	float: left;
	margin:0 0 20px 0px;
	position: relative; 
}
.text-page .left-column {
	padding: 60px 0px 0 0px; }
.text-page .left-column .last-docs-date{
	width: 160px;
    background: url(../img/ribbon.png) no-repeat;
	top:10px;
}
.text-page .left-column .last-docs-date:before{
	content: "";
	position: absolute;
	height: 1px;
	width: 700px;
	top:10px;left: 160px;
	background: #eaeaea;
}

.left-column .download-button{ margin-bottom: 20px; margin-top: 0px;}
.button-news {
	display: block;
	text-decoration: none;
	width: 100%;
	background: rgb(104,7,27);
	font-family: 'RobotoSlab-Regular', serif, Arial;
	font-size: 17px;
	padding:7px 0 7px 0;
	margin: 0 0 32px 0;
	text-transform: uppercase;
	color:rgb(255,255,255);
	text-align: center;
	cursor: pointer;
	position: relative;
}

.button-news:before {
	position: absolute;
	top:49.5%;
	content: "";
	display: block;
	left:0;
	width: 272px;
	height: 1px;
	background:rgb(251,211,78);
}
.button-news:after {
	position: absolute;
	top: 49.5%;
	content: "";
	display: block;
	right:0;
	width: 272px;
	height: 1px;
	background:rgb(251,211,78);
}


.news-content {
	width: 100%;
	height: auto;
	/*overflow: visible;*/
	border-top: 1px solid rgb(234,234,234);
	position: relative;
	background: rgb(255,255,255);
	padding: 0 0 25px 0;
}

.grey {
	background: rgb(248,248,248);
}



.content-photo {
	width: 280px;
	height: 135px;
	top: -13px;
	left: 10px;
	float: left;
	cursor: pointer;
}

.news-date {
	width: 159px;
	height: 25px;
	background: url(../img/ribbon.png) no-repeat;
	position: absolute;
	margin: 0;
	top: -13px;
	left: 292px;
	color: rgb(255,255,255);
	font-family: 'RobotoSlab-Regular', serif, Arial;
	font-size: 13px;
	text-align: center;
}

.p-date {
	    color: rgb(255,255,255);
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin: 0;

}

.a-news {
	display: block;
	line-height: 22px;
	font-weight: normal;
	font-size: 15.5px;
	text-decoration: none;
	color: rgb(104,7,27);
	margin: 28px 0 18px 0;
	cursor: pointer;
	padding:0 20px 0 0px;
	font-family: 'RobotoSlab-Regular', serif, Arial;

}


.p-content {
	display: block;
	font-family: 'Open Sans', sans-serif, Arial;
	font-size: 14px;
	line-height: 18px;
	color: rgb(0,0,0);
	margin:0 26px 0 10px;
	clear: both;
}

.all-news-button-box {
	height: 34px;
	background: rgb(255,255,255);
	border-top: 1px solid rgb(234,234,234);
	padding:8px;
	}

.grey-line {
	width: 100%;
	height: 31px;
	background: rgb(240,240,240);
}


.blue-button  {
display: block;
text-decoration: none;
outline:2px solid rgb(51,109,131);
background: rgb(51,109,131);
border: 1px solid rgb(113,153,168);
font-family: 'RobotoSlab-Regular', serif;
font-size: 16px;
padding:5px 0;
text-align: center;
margin:0 auto;
text-transform: uppercase;
color:rgb(255,255,255);
transition:.3s all;
}
.blue-button:hover{
    outline: 2px solid rgba(144,183,198,1);
        background: rgb(83, 138, 159);
        border: 1px solid rgb(82, 124, 140);
}

.all-news {
	width: 331px;
}


.button-popular {
	display: block;
	text-decoration: none;
	width: 710px;
	background: rgb(50,59,67);
	font-family: 'RobotoSlab-Regular', serif, Arial;
	font-size: 17px;
	padding:7px 0;
	margin: 0 0 15px 0;
	text-transform: uppercase;
	color:rgb(255,255,255);
	text-align: center;
	position: relative;
}

.button-popular:before {
	position: absolute;
	left:0;
	top: 49%;
	content: "";
	display: block;
	width: 161px;
	height: 1px;
	background:rgb(251,211,78);
}
.button-popular:after {
	position: absolute;
	right:0;
	top: 49%;
	content: "";
	display: block;
	width: 161px;
	height: 1px;
	background:rgb(251,211,78);
}

.slider-2 {
	width: 100%;
	height: 213px;
	background: rgb(240, 240, 240);
		position:relative;
}

.right-column {
	width: 270px;
	height: auto;
	overflow:visible;
	float: left;
	margin: 0 0 20px 20px;
}

.button-events {
	display: block;
	text-decoration: none;
	width: 270px;
	background: #336d83;
	font-family: 'RobotoSlab-Regular', serif, Arial;
	font-size: 17px;
	padding:7px 0;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	color:rgb(255,255,255);
	text-align: center;
	cursor: pointer;
	position: relative;

}

.button-events:before {
	position: absolute;
	left: 0;
	top:49.5%;
	content: "";
	display: block;
	float: left;
	width: 70px;
	height: 1px;
	background:rgb(251,211,78);
}
.button-events:after {position: absolute;
	right: 0;
	top:49.5%;
	content: "";
	display: block;
	float: right;
	width: 70px;
	height: 1px;
	background:rgb(251,211,78);
}

.events-content {
	width: 100%;
	border-bottom: 1px solid rgb(255,255,255);
	position:relative;
	margin-top: 13px;
	padding-bottom: 75px;
	min-height: 30px;
}
.text-page.links .left-column{
	padding: 0;
	min-height: 500px;
	background: white;
}
.text-page>img{padding: 10px 0;}
.text-page.links .left-column .down-doc {margin-top: 0; padding-top: 0; padding-left: 0;}
.text-page.links .left-column .down-doc li{background: none; padding-left: 0; margin-top: 0;}
.text-page.links .left-column .down-doc li:nth-child(2n){background: #f8f8f8;}
.text-page.links .left-column .down-doc li a{    background: url(../img/arrow-list.png) no-repeat 7px 15px;}
.text-page.links .left-column .down-doc li a:hover{text-decoration:underline;}
.text-page.links .left-column .title-page:before,.text-page.links .left-column .title-page:after{ width: 28%;}

.text-page .right-column .download-button{margin: 0;}
.text-page .right-column .events-content {	padding-bottom: 25px;}
.text-page .right-column .events-content:nth-child(2n){background: white;}
.text-page .right-column .events-content .events-date p{padding-left:0; }
.text-page img{padding: 15px 0;
}
/*
.../img-events {
	display: block;
	width: 100%;
	height: 135px;
}*/

.events-date {
	width: 45px;
	height:52px;
	background: url(../img/flag.png) no-repeat;
	position: absolute;
	padding: 6px 0 0 0;
	left: 0px;
	margin:  0px 0 5px 0;
	float: left;

}

.p-day {
	font-size: 22px;
	margin: 0 9px;
	text-align: center;
	color: rgb(255,255,255);
	font-family: Arial, sans-serif;

}

.p-month {
	line-height: 0.4;
	font-size: 13px;
	margin: 0 11px;
	text-align: center;
	color: rgb(255,255,255);
	font-family: Arial, sans-serif;
}

.p-events-content {
	display: block;
	font-family: 'Open Sans',serif, Arial;
	color: rgb(0,0,0);
	font-size: 12px;
	float: left;
	margin: 5px 3px 0 57px;
}

.arrow {
	position: absolute;
	bottom: 10px;
	right: 3px;
	cursor: pointer;
}

.all-events {

	width: 266px;
	}

.download-documents-box {
	width: 270px;
	height: auto;
	/*overflow: hidden;*/
}
.download-button {
	position: relative;
	display: block;
	width: 100%;
	font-family: 'Roboto Slab', serif, Arial;
	font-size: 16px;
	background: rgb(50,59,67);
	text-decoration: none;
	color: rgb(255,255,255);
	margin:22px 0 0 0 ;
	text-align: center;
	text-transform: uppercase;
	padding:8px 0;
}
.download-button:after{
	left: 0px;
	top:49.8%;
	height: 1px;
	width: 30px;
	position: absolute;
	content: "";
	    background: rgb(251,211,78);
}
.download-button:before{
	right: 0px;
	top:49.8%;
	height: 1px;
	width: 30px;
	position: absolute;
	content: "";
	    background: rgb(251,211,78);
}
 .down-doc li a {
	display: block;
	padding:14px 25px;
	text-decoration: none;
	font-family: 'Open Sans', serif, Arial;
	font-size: 14px;
	color: rgb(51,109,131);
	background: url(../img/arrow-list.png) no-repeat 13px 15px;
	}



.down-doc {
	padding:0;
	margin: 0;
}

.down-doc li {
	list-style-type: none;
	background: rgb(255,255,255);
	margin: 0;
	width: 100%;
	height: auto;
	/*overflow: hidden;*/
	border-bottom: 1px solid rgb(234,234,234);

}

.all-documents-box {
	width: 254px;
	height: 34px;
	background: rgb(255,255,255);
	padding: 8px;
}



.all-documents {
	text-decoration: none;


}

.bottom-content {
	width: 1000px;
	height: auto;
	overflow: visible;
	margin:0 auto;
	clear: both;
}

.last-docs-box {
	width: 460px;
	height: auto;
	overflow: visible;
	background: rgb(255,255,255);
	margin-bottom: 21px;
	padding-bottom: 15px;
	float: left;
}

.button-last-docs {
	display: block;
	text-decoration: none;
	width: 100%;
	background: rgb(50,59,67);
	font-family: 'RobotoSlab-Regular', serif, Arial;
	font-size: 17px;
	padding:7px 0;
	margin: 0 0 22px 0;
	text-transform: uppercase;
	color:rgb(255,255,255);
	text-align: center;
	position: relative;
}

.button-last-docs:before {
	position: absolute;
	top: 49.5%;
	left:0;
	content: "";
	display: block;
	width: 60px;
	height: 1px;
	background:rgb(251,211,78);
}

.button-last-docs:after {
	position: absolute;
	top: 49.5%;
	right:0;
	content: "";
	display: block;
	width: 60px;
	height: 1px;
	background:rgb(251,211,78);
}


.last-docs {
	width: 94%;
	height: auto;
	padding: 25px 15px 25px 10px;
	border-top:1px solid rgb(234,234,234);
	position: relative;
	background: rgb(255,255,255);
}

.grey {
	background:rgb(248,248,248);
}



.last-docs-date {
	width: 103px;
	height: 25px;
	background: url(../img/ribbon-small.png) no-repeat;
	margin: 0;
	position: absolute;
	top: -13px;
	left: 10px;
}

.p-last-docs {
	    color: rgb(255,255,255);
    font-family: 'RobotoSlab-Regular', serif, Arial;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin: 0 0 0 -10px;
}

.p-docs {
	text-decoration: none;
	font-family: 'Open Sans', serif, Arial;
	color: rgb(51,109,131);
	font-size: 14px;
	margin: 0;
	padding: 0;
	clear: both;

}

.last-documents {
	width: 331px;

}

.gallery {
	    width: 520px;
	height: auto;
	overflow: visible;
	float: left;
	margin-left: 19px;
}

.button-new-gallery {
	display: block;
	text-decoration: none;
	width: 100%;
	background: rgb(50,59,67);
	font-family: 'RobotoSlab-Regular', serif, Arial;
	font-size: 17px;
	padding:7px 0;
	margin: 0 0 22px 0;
	text-transform: uppercase;
	color:rgb(255,255,255);
	text-align: center;
	position: relative;
}

.button-new-gallery:before {
	position: absolute;
	left: 0;
	top:49.5%;
	content: "";
	display: block;
	width: 120px;
	height: 1px;
	background:rgb(251,211,78);
}

.button-new-gallery:after {
	position: absolute;
	right: 0;
	top:49.5%;
	content: "";
	display: block;
	width: 120px;
	height: 1px;
	background:rgb(251,211,78);
}

.slider-3 {
	width: 495px;
	height: 223px;
	margin: 0 auto 15px auto;
	position: relative;
}
.slider-3 .carusel .all-carusel .carusel-block .carusel-item {
    position: relative;
    float: left;
    width: 48%;
    margin-top: 10px;
    margin-left: 1.7%;
    overflow: hidden;
    background: white;
    height: 207px;
}
.slider-3 .carusel .all-carusel .carusel-block .carusel-item a{bottom:4px; position:relative; text-decoration: none; color: black;   line-height: 13px;
 margin-top: 0; padding-top:5px; padding-bottom: 17px;}

.all-gallery {

	width: 282px;

}

.footer {
	width: 100%;
	margin-top: 15px;
	background: rgb(50,59,67);
	clear: both;
}

.footer-container {
	width: 1000px;
	margin: 0 auto;
}

.adress-box {
	width: 48%;
	height: auto;
	overflow: hidden;
	float: left;
	background: url(../img/logo-footer.png) no-repeat  right 35px;
}


.adress-box a,
.info-box a
 {
	display: block;
	font-family: 'RobotoSlab-Regular', serif, Arial;
	font-size: 18px;
	text-transform: uppercase;
	color: rgb(245,208,78);
	text-decoration: none;
	margin: 35px 0 30px 0;
}

.p-adress {
	font-family: 'Open Sans', sans-serif, Arial;
	line-height: 24px;
	font-size: 14px;
	color: rgb(255,255,255);
	margin:0;
}

.copyright {
	font-family: 'Open Sans', serif, Arial;
	font-size: 13px;
	color: rgb(198,198,198);
	margin:93px 0px 20px 0;

}

.info-box {
	width: 48%;
	height: auto;
	min-height: 200px;
	overflow: hidden;
	float: left;
	margin: 0 0px 0 19px;
	background: url(../img/gerb-footer.png) no-repeat right 21px;
}

.info-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.info-links li {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.info-links li a {
	text-transform: none;
	margin: 0 0 10px 0;
	padding: 0;
	font-family: 'Open Sans', serif, Arial;
	font-size: 14px;
	color: rgb(230,233,237);
}

.developer {
	display: inline-block;
	float: right;
	font-family: 'Open Sans', serif, Arial;
	font-size: 13px;
	color: rgb(198,198,198);
	margin:23px 119px 0 0;
	text-decoration: none;

}


.containers{
	  width: 1000px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.slider {
	margin-bottom: 25px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 870px;
    overflow: hidden; }
     
    .slider .slider-container {
     width: 200%;
      position: absolute;
      left: 0;
      top: 0; }
       .slider .slider-container .item {
        position: relative;
        height: 100%;
        float: left;
        width: 50%;
        height: 870px; }
         .slider .slider-container .item img {
          top:5%;         
          height: 1050px;
          vertical-align: top; }

    .slide-text {
      padding-left: 20px;
      height: 140px;
      width: 680px;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      left: 0;
      bottom: 50px;
      overflow: hidden; }
       .slider .slide-text .slide-all-text {
        padding-top: 15px;
        position: relative; }
        .slide-text-block b{
        	width: 80%;
        	font-size: 16px;
        	  font-family: 'RobotoSlab-Regular', Arial;
        	  font-weight: normal;
        	  color:#ffda44;
        	  display: block;
        	  text-transform: uppercase;
        	  margin-bottom: 10px;
        }

        .slide-text-block b a{
        	width: 100%;
        	font-size: 16px;
        	  font-family: 'RobotoSlab-Regular', Arial;
        	  font-weight: normal;
        	  color:#ffda44;
        	  display: block;
        	  text-transform: uppercase;
        	  margin-bottom: 10px;
        	  text-decoration: none;

        }
        .slide-text-block p{
        	width: 90%;
        }
        .slide-text-block p a{
        	color: white;
        	text-decoration: none;
        }
         .slider .slide-text .slide-all-text .slide-text-block {
          font-size: 16px;
          color: white;
            font-family: 'OpenSans';
          width: 80%;
          float: left;
          text-align: left; }
       .slide-text .arrow-prev, .slide-text .arrow-next {
        height: 20px;
        width: 12px;
        position: absolute;
        cursor: pointer;
        opacity: 0.7; }
       .slider .slide-text .arrow-prev {
       	transition:0.2s all;
        top: 15px;
        right: 45px;
        background: url(../img/other/arrow-prev.png)no-repeat; }
       .slider .slide-text .arrow-next {
       	transition:0.2s all;
        top: 15px;
        right: 20px;
        background: url(../img/other/arrow-next.png)no-repeat; }
       .slider .slide-text .arrow-prev:hover,  .slider .slide-text .arrow-next:hover {
        opacity: 1;
  	  transform: scale(1.1);
         }

.invest-project {
  position: absolute;
  width: 190px;
  min-height: 100px;
  right: 0;
  bottom: 50px; }
.invest-project ul{
	padding-left: 0;
	margin-bottom: 0;
}
   .invest-project ul li{
   	margin-top: 15px;
   	display: block;
   }
  .invest-project ul li span,
  .invest-project ul li a {
  	color: white;
    display: block;
    padding: 15px 0px;
    text-decoration: none;
    font-size: 16px; 
    font-family: 'RobotoSlab-Regular', Arial;
    width: 115px;
    padding-left: 75px;
    -webkit-transition: 0.4s all;
            transition: 0.4s all; }
			  .invest-project ul li span:hover,
              .invest-project ul li a:hover{
              	color:#ffd84f;
              	background: rgba(20,20,20,.6);
              }
  .invest-project ul li .soc-ic:hover {
    background: url(../img/other/icon1-h.png) no-repeat 20px, rgba(20,20,20,.6); }
  .invest-project ul li .med-ic:hover {
    background: url(../img/other/icon2-h.png) no-repeat 20px, rgba(20,20,20,.6); }
  .invest-project ul li .en-ic:hover {
    background: url(../img/other/icon3-h.png) no-repeat 20px, rgba(20,20,20,.6); }
  .invest-project ul li .tran-ic:hover {
    background: url(../img/other/icon4-h.png) no-repeat 20px, rgba(20,20,20,.6); }
  .invest-project ul li .ek-ic:hover {
    background: url(../img/other/icon5-h.png) no-repeat 20px, rgba(20,20,20,.6); }
  .invest-project ul li .elek-ic:hover {
    background: url(../img/other/icon6-h.png) no-repeat 20px, rgba(20,20,20,.6); }

.soc-ic {
  background: url(../img/other/icon1.png) no-repeat 20px,rgba(125,125,125,.5); }

.med-ic {
  background: url(../img/other/icon2.png)  no-repeat 20px,rgba(125,125,125,.5); }

.en-ic {
  background: url(../img/other/icon3.png) no-repeat 20px,rgba(125,125,125,.5); }

.tran-ic {
  background: url(../img/other/icon4.png) no-repeat 20px,rgba(125,125,125,.5); }

.ek-ic {
  background: url(../img/other/icon5.png) no-repeat 20px,rgba(125,125,125,.5); }

.elek-ic {
  background: url(../img/other/icon6.png) no-repeat 20px,rgba(125,125,125,.5); }
.menu-pop-up .pop-up-block{
	min-height: 48px;
	padding-left: 75px;
	background: url(../img/other/menu-popup.png) no-repeat left center;
	color: white;
	text-align: left;
	  font-family: 'RobotoSlab-Regular', Arial;
}
.menu-pop-up{
display: none;
	overflow: hidden;
	height: 48px;
	    background: #68071B;
	    cursor:pointer;
	    position: relative;
	    bottom: 20px;
	    padding-left: 0;
}
.menu-pop-up li{
	width: 100%;
	line-height: 45px;
	display: block;
}
.nav-container .menu-pop-up li a{width: 100%; display: block; text-align: center; padding-left: 0; padding-right: 0; color: white;
	text-decoration: none; padding: 10px 0;}
.nav-container .menu-pop-up li a:hover{ padding-left: 0; padding-right: 0;}
.foot-bott{display: none;}
.lang {
	position: relative;
            overflow: hidden;
    height: 17px;
        margin-top: 50px;
        margin-right: 10px;
        width: 65px;
        padding-right: 15px;
        cursor: pointer;
        float: right;
        background: url(../img/other/arrow-bottom.png) no-repeat right 7px; }
         .lang .lang-select {
          color: white;
          text-transform: uppercase;
          font-size: 14px;
          font-family:Arial;
          text-decoration: none;
          vertical-align: middle;
          text-transform: none; }
          .lang .lang-select img {
                position: relative;
    top: 0px;
    right: 10px;
    width: 30px;
    height:11px;}

    .carusel {
    width: 100%;
    overflow: hidden;
    height: 217px;
    margin-bottom: 35px; }

    .carusel .all-carusel {
      width: 200%;
      position: relative;
      left: 0; }
      .carusel .all-carusel .carusel-block {
        width: 50%;
        float: left; }
        .carusel .all-carusel .carusel-block .carusel-item {

          position: relative;
          float: left;
          width: 32%;
          margin-top:10px;
          margin-left: 1.3%;
          overflow: hidden;
          background: white;
          height: 207px; }
          .carusel .all-carusel .carusel-block .carusel-item img {
            width: 100%; }
            .carusel .all-carusel .carusel-block .carusel-item a {
             transition:0.3s all;
            position: absolute;
            text-decoration: none;
            vertical-align: top;
            display: block;
            left: 0;
            color: black;
            padding-bottom: 0;
            font-family: Open Sans, Tahoma, sans-serif, Arial;
            font-size: 14px;
            padding: 7px;             line-height: 15px;}

            .carusel .all-carusel .carusel-block .carusel-item:first-child {
          margin-left: 5px; }
          .carusel-arrow-prev {
    cursor: pointer;
    position: absolute;
    top: 90px;
    left: 0;
    height: 41px;
    width: 21px;
    background: url(../img/other/carusel-arrow-prev.jpg)no-repeat; 
	opacity: .9;}
    .carusel-arrow-next {
    cursor: pointer;
    position: absolute;
    top: 90px;
    right: 0px;
    height: 41px;
    width: 21px;
    background: url(../img/other/carusel-arrow-next.jpg)no-repeat; 
	opacity: .9;}
	 .carusel-arrow-prev:hover, .carusel-arrow-next:hover{opacity: 1;}
.text-page .title-page{position:relative; right: 2px;}
.time-carusel{
	position: absolute;
	bottom: 2px;
	left: 2px;
	background: url(../img/red-flag.png)no-repeat;
	height: 25px;
	width: 130px;
	font-family: Arial;
	color:white;
	font-size: 14px;text-align: center;
	line-height: 25px;
}
.stars{
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: url(../img/stars.png)no-repeat;
	height: 25px;
	width: 85px;
}
.arrow-to-top{
  /*display: none;*/
  position: fixed;
  right: 100px;
  bottom: 50px;
  height: 43px;
  width: 45.5px;
  background: url(../img/other/arrow-top.png)no-repeat;
  cursor: pointer;
  opacity: .9;
  z-index: 5;
}
.arrow-to-top:hover{
	opacity: 1;
}
.top-height{
	margin-top: 183px;
}
.header-bck{
	background: url(../img/header-bck.jpg);
	background-size: cover;
}
.breadcrumb{
	margin-top: 15px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	padding-left: 15px;
      min-height: 25px;
      width: 100%;
      background: white;
      position: relative;
      font-size: 16px;
      bottom: 5px;
      color: #336d83;
      font-size: 14px; 
       font-family: 'RobotoSlab-Regular', Arial;
    line-height: 25px;
    }
    .breadcrumb a{
    color: white;
    text-decoration: none;
    color: #68071b;
    }
    .breadcrumb a:hover{text-decoration: underline;}
    .text-page{
    	background: white;
		padding-left: 5px; 
    }
    .title-page{
      text-transform: uppercase;
      font-size: 22px;
       font-family: 'RobotoSlab-Regular', Arial;
    color: white;
    text-align: center;
    padding: 8px 0;
    background: #323b43;
    position: relative;
    bottom: 5px;
    }
    .title-page:after{
    	position: absolute;
    	content: "";
    	height: 1px;
    	width: 34%;
    	left: 0px;
    	top: 49%;
    	background: #fad44f;
    }
    .title-page:before{
    	position: absolute;
    	content: "";
    	height: 1px;
    	width: 34%;
    	right: 0px;
    	top: 49%;
    	background: #fad44f;
    }
    .text-page b{
       font-family: 'RobotoSlab-Regular', Arial;
		font-size: 16px;
		color: #68071b;
		line-height: 1.3;
		padding-left: 5px;
		display: block;
		padding-bottom:5px; 
    }
    	.text-page strong{
       font-family: 'RobotoSlab-Regular', Arial;
		font-size: 16px;
		color: #68071b;
		line-height: 1.3;
		padding-left: 5px;
		display: block;
    }
    	.text-page em{
    		clear: both;
    		display: block;
    	}
     .text-block{
      font-size: 14px;
       font-family: 'RobotoSlab-Regular', Arial;
      line-height: 1.2;
      padding-bottom: 25px;
    }
	
	 .text-page span{
		display: inline-block;
      margin: 10px 0;
      float: left;
	}


	.info-text-block{
		display: inline-block;
		float: right;
	    vertical-align: top;
	}

	.text-page  i{
		font-style: normal;
		width: 80%;
		float: left; clear: both; font-size: 13px; font-family: 'OpenSans', Arial;
		margin: 0;
		padding: 0;
	}
    .text-page span img{
      display: inline-block;
      float: left;
      margin-right: 15px;
      padding-bottom: 10px;
    }
    .title-text-block{
    	border-bottom:1px solid #eaeaea;
    	border-top:1px solid #eaeaea;
      font-size: 18px;
      font-weight: bold;
       font-family: 'RobotoSlab-Regular', Arial;
      color: #333c44;
      text-transform:uppercase;
      margin-bottom: 15px;
      text-align: center;
      padding:7px 0; 
    }
	
    	.c33{width: 33%;}
	.c45{width: 45%;}
	.c64{width: 64%;}
	.c100{width: 100%; text-align: center;}
	.text-page .text-block-img.c100 p{width: 100%;}
	.print-link{width: 100%; text-align: center; font-size: 14px; padding: 10px 0; border-top:1px solid #eaeaea; }
	.print-link a{ color: #00395f; text-decoration: none; font-family: 'Roboto Slab', Arial; background: url(../img/print-icon.png)no-repeat left; padding-left: 30px;}
	.cos-link{ width: 100%; background: white;display:inline-block;}
	.cos-link ul{
		padding: 0px 8px;
	}
	.cos-link li:first-child{margin-left: 0;}
	.cos-link li{ margin-left:9%; display: inline-block; height: 30px; width: 175px; text-align: right;}
	.cos-link li a{text-decoration: none; color: white; text-transform: uppercase; font-family: 'RobotoSlab-Regular', Arial; font-size: 14px; line-height: 30px; margin-right: 2px; padding: 3px 5px 4px 2px;}
	.twit{background: url(../img/icon-social.png)no-repeat 0 -60px, #00b6ec;} .fb{background: url(../img/icon-social.png)no-repeat 0 0px, #425497;}
 	.vk{background: url(../img/icon-social.png)no-repeat 0 -90px, #536e8f;} .gplus{background: url(../img/icon-social.png)no-repeat 0 -30px, #de4241;}
	.cos-link li a span{color: white; padding: 2px 5px 3px 5px; margin-right: 3px; transition:0.3s all;}
	.cos-link .twit a{background:#80dbf6 ; color:#00b6ec;} .cos-link .fb a{background:#a1aacb ; color:#425497;} 
	.cos-link .vk a{background:#a9b7c7 ; color:#536e8f;} .cos-link .gplus a{background:#efa1a0 ; color:#de4241;}
	.cos-link .twit a span{background:#00b6ec;} .cos-link .fb a span{background:#425497;} 
	.cos-link .vk a span{background:#536e8f;} .cos-link .gplus a span{background:#de4241;}
	.cos-link li a:hover span{background: transparent;}

.text-page h2{
	border-bottom:1px solid #eaeaea;
    	border-top:1px solid #eaeaea;
      font-size: 18px;
      font-weight: bold;
       font-family: 'RobotoSlab-Regular', Arial;
      color: #333c44;
      text-transform:uppercase;
      margin-bottom: 15px;
      text-align: center;
      padding:7px 0; 
      display: block;
}
.text-page ul{
      margin-top: 20px;

    padding-left: 10px;
    }
.text-page ul li{
	 display: inline-block;	
    	font-family: 'OpenSans', Arial;
      margin-top: 10px;
      padding-left: 25px;
      font-size: 14px;
      line-height: 17px;
      background: url(../img/arrow-list.png)no-repeat left 2px;
    }
    .right-menu{
    	margin-top: 10px;
    }
    .right-menu ul{
    	text-transform: uppercase;
    	text-align: center;
    	background: #336d83;
    	    padding: 0;
    	    margin:0;
    }

     .right-menu ul li{
     	    margin: 0;
    background: none;
    padding: 0;
     	display: block;

     }
     .right-menu ul a{
       font-family: 'RobotoSlab-Regular', Arial;
       font-size: 16px;
     	display: inline-block;
     	padding: 10px 0;
     	color:white;
     	text-decoration: none;
     	width: 90%;
     	border-bottom: 1px solid white;
     	transition:.3s all;
     }
	.right-menu ul a:hover{color:rgba(255,255,255,.7);}
     .right-menu ul :last-child a{border:0;}

     .document-page .print-link{display: inline-block; border:0; margin-top: 15px; width: auto; margin-left: 40%;}
     .down-but,.review-but{ color:white; border:1px solid white;display: inline-block; text-decoration: none; padding: 3px 5px; text-transform: uppercase;
       font-family: 'RobotoSlab-Regular', Arial; font-size: 14px; margin-left: 15px;}
       .down-but:hover,.review-but:hover{opacity: .8;}
         .review-but{background: #343d44;outline: 1px solid #343d44;  }
    .down-but{background: #68071b;outline: 1px solid #68071b;}
     .document-page .last-docs{width: 97%;}
     .last-docs b{display: none;}
     .pagination{text-align: center;    
     	background: #336d83;    padding: 0; border:2px solid white; outline: 1px solid #336d83;
    display: table;
    margin: 0 auto;}
     .pagination li{ display: inline-block; float: left;}
     .pagination li a{ color: white; display: inline-block; transition:.2s all; height: 25px; width: 25px; line-height: 25px; text-decoration: none; padding: 4px; }
     .pagination li a:hover{background: #99b6c1; color:#336d83;}
     .print-link a:hover{text-decoration: underline;}
     .news-block{ padding: 10px 0; position: relative; clear: both;}
     .news-block>img{float: left;}
     .pagination li span{
 display: inline-block;
    transition: .2s all;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-decoration: none;
    padding: 4px;}
    .pagination .active{ background: white;}
    .pagination .active a{color: #336d83;}
        .pagination .active a:hover{color: #336d83; background: none;}
     .news-page .news-date{    position: relative;
    left: 0;
    top: 0;
    display: inline-block;
    vertical-align: top;}
    .news-text{
    	float: left;width: 60%;
    	font-size: 14px; padding-left: 15px;
    	font-family: 'OpenSans', Arial; padding-bottom: 15px;
    	line-height: 1.1;
    	letter-spacing: 0.1px;
    }
    .news-block .news-text .a-news{
    	margin: 20px 0;
    }
     .news-page .pagination{margin-top: 35px;margin-bottom: 15px;}
    .news-page{background: white;}

    .lightbox{ 
    	position: fixed;
    	height: 100%;
    	width: 100%;
    	background: rgba(0,0,0,.8);
    	left:0;
    	top: 0;
    	display: none;
    	z-index: 1000;}

    .lightbox span{
	position: relative;
    	width: 50%;
    	min-height: 100px;
    	background: white;
		display: block;
		margin: 0 auto;
		margin-top: 15%;
		padding: 20px;
    }
    .lightbox span i{
    	position: absolute;
		top: 15px;
		right: 15px;
		font-style: normal;
    font-family: sans-serif, Arial;
    cursor: pointer;
    }
    .contacts{margin-bottom: 35px;}
    .contacts iframe{width: 60%; height: 315px;}
    .contact-info{display: inline-block;    width: 39%;vertical-align: top;}
    .contact-info h2{margin-top: 10px; text-align:center; text-transform: uppercase; font-family: 'RobotoSlab-Regular', Arial; font-size: 18px; color: #336d83; font-weight: normal;}
    .contact-info ul{padding-left: 0;}
    .contact-info ul li{display: block; border-top: 1px solid #eaeaea; padding: 9px 0 9px 25px; font-family: 'OpenSans', Arial; font-size: 14px;}
    .gallery-block{width: 310px; background: white;	 height: 185px; overflow: hidden; margin-top: 10px; margin-bottom: 15px; position: relative; cursor: pointer;
    	float: left; margin-left: 30px;}
    .gallery-block-line .gallery-block:first-child{margin-left: 5px;} 
    .gallery-block>img{height: 80%; width: 100%;}
    .gallery-info {position: absolute; height: 35px; width: 100%; bottom: 0; left: 0; background: white;z-index: 3;}
    .gallery-date{background: url(../img/red-flag.png); height: 25px;width: 127px; position: absolute;top: 5px;left: 5px; color: white; font-family: 'OpenSans', Arial;
    text-align: center; line-height: 25px; }
    .gallery-block p{position: absolute;bottom: -100px; z-index: 1; width: 100%; background: rgba(0,0,0,.5); color: white; font-family: 'OpenSans', Arial; padding: 5px; } 
    .star{ position: absolute; right: 5px;bottom: 10px;}
    .rating {
    background: url(../img/star.png)no-repeat left center;
    height: 15px;
    width: 15px;
    display: inline-block;
}
.gallery-page .ratings ,.carusel-item .ratings{
  background:url(../img/star-i.png)no-repeat left center;
}
.gallery-lightbox{
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.8);
	left: 0;
	top:-1000%;
	z-index: 500;
}
 .content{color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;width:900px; height: 500px; margin:20px auto; position: relative; padding-top: 00px;}
  .content i{cursor:pointer; position: absolute; right: 3px; top: 0px; color: black; z-index: 2; font-style: normal; font-family: sans-serif, Arial;}
          .slide-galleria{display: block; top:-5000px; position: fixed; z-index: 501;}
            .content p{margin:0 0 20px}
            .contenta {color:#22BCB9;text-decoration:none;}
            .content .cred{margin-top:20px;font-size:11px;}
            
            /* This rule is read by Galleria to define the gallery height: */
            .content #galleria{height:520px;}
            .galleria-image-nav-right{background: url(../img/arrow-right-g.png)no-repeat center;}
            .galleria-image-nav-left{background: url(../img/arrow-left-g.png)no-repeat center;}
            .lang-but{left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;}
    .left-column>img{float:left;}
    .left-column>p{clear: both;
    	padding: 10px;
    	line-height: 1.4;}

    .error-page{
    	background: white;
    	text-align: center;
    }
    .h2-error{
    	color: #68071b;
    	text-transform: uppercase;
    	font-size: 22px;
		font-family: 'RobotoSlab-Regular', Arial;
		margin-top: 10px;
		padding: 25px 0;
		border-bottom: 1px solid #eaeaea;
    }
.error-page p{
		font-family: 'OpenSans', Arial;
		font-size: 16px;
		padding: 25px 0;
}
.error-page p b{
	text-transform: uppercase;
		font-family: 'RobotoSlab-Regular', Arial;
		font-size: 18px;
		font-weight: normal;
		line-height: 25px;
}
.error-page .all-news-button-box{
	border-top: 0;
	padding-bottom: 75px;
}
.text-page table{
	right: 0;
}
.text-page table tr {
    vertical-align: top;
    display: block;
    border: 1px solid;
}
.text-page table tr td {
    /* text-align: center; */
    display: block;
    width: 100%;
    padding-left: 5px;
}
.title-page h1 {
    position: relative;
    display: block;
    float: none;
    margin-top: 0;
    font-weight: normal;
    font-size: 22px;
}
.left-column a {
    color: #833545;
    text-decoration: none;
}
.left-column a:hover {
	text-decoration: underline;
}
.lightbox h4{
	text-align: center;
}